@import "reset.css";
@import "components/status-bar.css";
@import "variables.css";
@import "screens/login.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "screens/friends.css";
@import "components/user-component.css";
@font-face {
    font-family: "sf pro";
    src: url('C:/Users/minse/OneDrive/Desktop/KOKOA-TALK/SF-Pro.ttf') format('truetype');
}
body {
    color: #2e363e;
    font-family: "sf pro";
    height: 1000vh;
}