.badge {
    background-color: rgba(0, 0, 0, 0.7);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 600;
    color: white;
}