.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(122, 122, 122, 0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: #2e363e;
    font-size: 12px;
}
.nav__notification {
    background-color: tomato;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-weight: 600;
    color: white;
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-size: 13px;
}
.nav__more {
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 24px;
}