.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 25px;
    opacity: 0.9;
    color: black;
}
.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 25px;
}