.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    padding-top: 45px;
    padding-bottom: 5px;
    color: black;
    background: rgba(255,190,224,1);
}
.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 25px;
    transition: 0.4s ease-in-out;
}
.screen-header__cog {
    position: absolute;
    right: 21px;
    top: 43px;
}
.screen-fixer {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.screen-header__icons i {
    transition: 0.2s ease-in-out;
}
.screen-header__icons i:hover {
    transform:translate(1px, -1px);
    opacity: 0.8;
    cursor: pointer;
}